

  <div class="jumbotron">    
    <p class="lead">
      <img src="images/logo-tiny.png" alt="I'm Yeoman" width="120px" ><br>
      <h1>Bienvenido!</h1>
      Participa en torneos e-sports en l&iacute;nea
    </p>
  </div>

  <div class="row text-center">
    <div class="col-sm-4">
      <center><img src="images/organizacion.png" class="img-responsive margin" style="width:80%" alt="Image"></center>
      <b>Organizaci&oacute;n simple</b>
      <br/>
      <br/>
      <p>Contamos con herramientas para que organizar un torneo no sea un dolor de cabeza.</p>
    </div>
    <div class="col-sm-4"> 
      <center><img src="images/llegada_gamer.png" class="img-responsive margin" style="width:80%" alt="Image"></center>
      <b>Mayor llegada a gamers</b>
      <br/>
      <br/>
      <p>Con nuestra fuerte integración en redes sociales puedes asegurar el alcance de tu torneo.</p>      
    </div>
    <div class="col-sm-4"> 
      <center><img src="images/rentabilidad.png" class="img-responsive margin" style="width:80%" alt="Image"></center>
      <b>Rentabilidad para auspiciadores</b>      
      <br/>
      <br/>
      <p>a mayor alcance por redes sociales mayor probabilidad de vender sus productos.</p>      
    </div>
  </div>



  <div class="container text-center">
    <h2>&Uacute;ltimo torneo creado</h2>
    <p>
      <center><a href="#/tournaments/{{ultimo_creado.id}}"><img src="{{ultimo_creado.urllogo}}" class="img-responsive margin" style="width:80%" alt="Image"></a></center>
    </p>

    <h4>{{ultimo_creado.titulo}}</h4>
    
  </div>